@media only screen and (min-width: 768px) {
    @import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Poppins&display=swap');


    :root {
        /* change the values below to your colors from your palette */
        --primary-color: #061726;
        --secondary-color: #71E2C2;
        --accent1-color: #828C93;
        --accent2-color: white;

        /* change the values below to your chosen font(s) */
        --heading-font: "Bubblegum Sans";
        --paragraph-font: "Poppins", Helvetica, sans-serif;

    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--heading-font);
        color: #71E2C2;

    }

    body {
        width: 90%;
        margin: 0 auto;
        text-align: center;

    }

    header {
        background-color: #061726;

    }

    #menu {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        padding: .5rem .75rem;
        background-color: #71E2C2;
        color: #000;
    }

    #menu::before {
        content: "≡";
    }

    nav {
        background-color: #828C93;
    }

    .navigation {
        list-style: none;
        margin: 0 auto;
        max-width: 760px;
    }

    .navigation li {
        display: none;
    }

    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: center;
        text-decoration: none;
        color: black;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
        margin-left: -40px;
    }

    .navigation a:hover,
    navigation a:active {
        color: white;
        background-color: black;
    }

    .show li {
        display: block;
    }

    #menu.show::before {
        content: "X";
    }

    .social img {
        width: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 2px solid #828C93;
    }

    .social a {
        text-decoration: none;
        padding: 15px;


    }

    .logo img {
        width: 50%;
        border: 2px solid #71E2C2;
    }

    .logo h2 {
        text-shadow: 2px 2px black;
        text-decoration: underline;
        font-size: 2em;
    }


    .hero img {
        width: 100%;
    }

    .summary img {
        width: 80%;
        border-radius: 5%;
        border: 2px solid black;
    }

    .summary {
        border: 5px solid black;
        background-color: #71E2C2;
    }

    .summary p {
        width: 70%;
        margin: 0 auto;
        padding: 20px;
        color: #061726;
        font-size: 1.2em;

    }

    .summary h2 {
        color: #061726;
        text-decoration: underline;
        font-size: 2em;
    }

    .call img {
        width: 80%;
    }

    .call {
        background-color: #061726;
        border: 5px solid black;
    }

    .call p {
        width: 70%;
        margin: 0 auto;
        padding: 20px;
        color: white;
        font-size: 1.2em;

    }

    .call button {
        background-color: #71E2C2;
        margin: 30px;
    }

    .call h1 {
        color: #061726;

    }

    .information {
        background-color: #828C93;
        border: 5px solid black;
    }

    .information p {
        width: 70%;
        margin: 0 auto;
        padding: 20px;
        color: #061726;
        font-size: 1.2em;

    }

    .information h2 {
        font-size: 2em;
        color: #061726;
        text-shadow: 3px 3px #71E2C2;
        text-decoration: wavy;
    }

    .logo2 img {
        width: 50%;
        border: 2px solid #71E2C2;
    }

    footer h2 {

        text-shadow: 2px 2px black;
        text-decoration: underline;
        font-size: 2em;


    }

    .contact img {
        width: 5%;

    }

    footer {
        border: 5px solid black;
    }

    #lastModified {
        font-weight: bold;
    }

    .weather {
        background-color: #061726;
        border: 5px solid black;

    }

    .weather p {
        color: white;
    }

   .weather h3{
    color: white;
    text-shadow: none;
    text-decoration:underline;
   }

    figcaption {
        color: white;
    }

    #weather-icon {
        width: 15%;
    }

    /* Fresh Page Form */
    form {
        max-width: 480px;
        margin: auto;
        padding: 0.5rem;
        align-items: center;
    }

    form fieldset {
        margin: 2rem 0;
        border: 1px solid #061726;
        border-radius: 10px;
        padding: .5rem 2%;
    }

    form legend {
        margin: 0 1rem;
        padding: 0 .5rem;
    }

    form label.top,
    form div {
        display: block;
        padding-top: 1rem;
        font-size: 1rem;
        text-align: left;
    }

    form label.top input,
    form label.top select {
        display: block;
        font-size: 1rem;
        border: solid 1px #999;
        border-radius: 4px;
        padding: .75rem;
        width: 85%;
        max-width: 250px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    form label.sbs {
        display: block;
        padding: .75rem 0;
        color: #555;
    }

    form input.submitBtn {
        border: none;
        background-color: #71E2C2;
        color: #061726;
        border-radius: 1rem;
        padding: .75rem 1.5rem;
        margin: auto;
        width: 96%;
        max-width: 20rem;
    }

    form label.top input:required {
        border-left: #71E2C2 solid 6px;
    }

    form label.top input:required:valid {
        border-left: green solid 6px;
    }

    textarea {
        width: 90%;

        height: 100px;
        display: block;

    }

    form select {
        padding: 15px;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }

    .content2 h2 {
        color: #061726;
        text-shadow: 2px 2px #71E2C2;

    }

    .cards {
        border: 5px solid #061726;

    }

    #map-location {
        width: 2rem;

    }

    .find-us {
        margin: 20px;
    }

    .content3 h2,
    h3 {
        color: #061726;
        text-shadow: 2px 2px #71E2C2;

    }

    .history {
        border: 5px solid #061726;
    }

    .contact-page {
        border: 5px solid #061726;
    }

    .content3 {
        margin: 20px;
    }

    #button {
        width: 50%;
        padding: 20px;
        margin: 20px;
        background-color: #71E2C2;
        color: #061726;
    }

    .call a {
        text-decoration: none;
    }
}