/* Larger viewports */


@media only screen and (min-width: 992px) {

    :root {
        --primary-color: #eef2f6;
        --secondary-color: #232F3C;
        --accent1-color: #23A6EF;
        --accent2-color: #1D7DB2;
       
    }

    body {
        padding: 0;
        margin: 0 auto;
        width: 90%;
        background-color: #232F3C;
    }

    .banner{
        background: #23A6EF;
        display: none;
    }

    .banner__content{
        padding: 16px;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        
    }

    .banner__text{
        flex-grow: 1;
        line-height: 1.4;
        
    }

    .banner__close{
        background: none;
        border: none;
        cursor: pointer;
    }

    .banner__text h2,
    .banner__close{
        color: #232F3C;
    }

    h1,
    h2,
    h3 {
        font-family: 'Roboto', sans-serif;
        color: var(--accent1-color);
        font-weight: bold;



    }



    p {

        font-family: 'Lora', serif;
        padding-left: 10px;
        font-size: 1.5em;


    }

    h2 {
        font-size: 2.5em;
    }

    header {
        background-color: #fff;
        padding: 5px 0;
        
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        border: 5px solid #23A6EF;
    }

    .logo {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        
    }

    .logo img {
        width: 80px;
        height: auto;
    }

    .headings {
        display: flex;
        flex-direction: column;
        margin-left: .5rem;
        text-shadow: 2px 2px black;
        width: 20%;
        
    }

    .headings h1 {
        font-size: 3rem;
    }

    .m {
        letter-spacing: 1pt;
        color: forestgreen;
        font-weight: 700;
        font-size: 0.8rem;
    }

    .social {
        margin-right: 1.5rem;
        margin-left: -10px;
        

    }

    .social svg {
        width: 25px;
        height: auto;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 350px 350px 350px;
        column-gap: 25px;
        row-gap: 25px;
        margin-top: 30px;
        margin-left: 35px;
        margin-right: 35px;

    }


    .event {

        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: #eef2f6;
        border: 5px solid #23A6EF;
        text-align: center;
    }

    .weather {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: #eef2f6;
        border: 5px solid #23A6EF;
        text-align: center;
    }

    .join {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: #eef2f6;
        border: 5px solid #23A6EF;
        text-align: center;
    }

    .hero {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        background-color: #232F3C;
        border: 5px solid #23A6EF;
    }

    .new-release {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: #eef2f6;
        border: 5px solid #23A6EF;
        text-align: center;
    }

    .spotlight {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
        background-color: #eef2f6;
        border: 5px solid #23A6EF;
        text-align: center;
        display: grid;
        grid-template-rows: 350px 350px 350px;
        row-gap:  25px;
    }

    .spotlight1 {
      
        grid-row-start: 1;
        grid-row-end: 2;
        height: 350px;
        background-color: #eef2f6;
        

    }

    .spotlight2 {
        grid-row-start: 2;
        grid-row-end: 3;
        height: 350px;
        background-color: #eef2f6;
        border-top: 5px solid #23A6EF;
        


    }

    .spotlight3 {
        border-top: 5px solid #23A6EF;
        grid-row-start: 3;
        grid-row-end: 4;
        height: 350px;
        padding: 5px;
       



    }

    footer {
        background-color: #fff;
        padding: 5px 0;
        margin: 0 auto;
        border: 5px solid #23A6EF;
        margin-top: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 200px;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        
       
    }

    footer h2{
        font-size: 1.5em;
    }

    .row1 {
        display: flex;

    }

    .logo2 {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        grid-column: 1;
        grid-row: 1/2;
        text-align: center;
        margin-top: 50px;
    }

    .logo2 img {
        width: 150px;
        height: auto;
    }

    .contact {
        grid-column: 2;
        grid-row: 1/2;
        
        text-align: center;
        margin-top: 40px;
        
        
       


    }

    .address {
        flex-direction: column;
        margin-left: .5rem;
    }

    .details {
        margin: 0 auto;
        width: 80%;
        margin-top: 100px;
        margin-bottom: 25px;
        border-top: solid black;
        text-align: center;
        grid-row: 2/3;
        grid-column: 1/3;
        
       
    }

    #lastModified {
        margin-top: 17px;
        margin-left: 5px;
        font-family: 'Lora', serif;
        
        grid-column: 2;
        grid-row: 2/3
        
       
    }



    .date {
        margin: 0.5rem;
        border: 1px solid #bbb;
        padding: 0.75rem;
        background-color: #eee;
        text-align: center;

    }


    nav a {
        text-decoration: none;
        font-size: 1.5em;
        color: #232F3C;
    }

    nav a:hover{
        color: #232F3C;
        background-color: #23A6EF;
    }

  
    
    
    nav {
        margin: 0 auto;
       margin-left: 300px;
        padding: 10px;
        
        
       
       
        
    }
    .navigation {
        list-style: none;
        display: flex;
        margin-left: -180px;
        color: white;
        

    }
    .navigation li:first-child {
        
        content: none;
        z-index: -1;
       
        
    }
    .navigation li {
        
        padding: 5px;
        
        
        
        
    }
    .navigation a {
        
        padding: 0.75rem;
        text-decoration: none;
        color: #23A6EF;
        font-weight: 700;
        transition: 0.5s;
        font-size: 1em;
        background-color: #232F3C;
        
       
    
        
    }
    
    #menu::before {
        content: none;
        font-size: 1.5rem;
        display: flex;
    }

    
    .hero-img{
        height: 100%;
        width: 100%;
        
        
        
        
       
        
    }
    
    .hero h2{
        text-align: center;
        margin-top: -500px;
        color: #eee;
        font-size: 4em;
        text-shadow: 3px 3px black;
        
        
        
    
    }
    
    .red-img{
        height: 100px;
    }
    
    .xerox-img{
        height: 100px;
    }
    
    .map{
        width: 10px;
    }

    .powerade-img{
        height: 100px;
    }


    .join-us{
        background-color: #232F3C;
        color: #23A6EF;
        font-size: 1.5em;
        margin: 0 auto;
        width: 80%;
    }




    

    
    
    
    
   


}