@media only screen and (min-width: 650px) and (max-width: 992px) {

    :root {
        --primary-color: #eef2f6;
        --secondary-color: #232F3C;
        --accent1-color: #23A6EF;
        --accent2-color: #1D7DB2;

    }

    body {
        padding: 0;
        margin: 0 auto;
        width: 70%;
        background-color: #232F3C;
    }

    .banner {
        background: #23A6EF;
        display: none;
    }

    .banner__content {
        padding: 16px;
        max-width: 1000px;
        margin: 0 auto;
        display: block;
        align-items: center;

    }

    .banner__text {
        flex-grow: 1;
        line-height: 1.4;
        font-size: 1em;

    }

    .banner__close {
        background: none;
        border: none;
        cursor: pointer;
        margin-top: 15px;
        font-size: 2em;
    }

    .banner__text h2,
    .banner__close {
        color: #232F3C;
    }

    h1,
    h2,
    h3 {
        font-family: 'Roboto', sans-serif;
        color: var(--accent1-color);
        font-weight: bold;



    }

    p {

        font-family: 'Lora', serif;
        padding-left: 10px;
        font-size: 1.2em;


    }


    #menu {
        width: 15px;
    }

    h2 {
        font-size: 2em;
    }

    header {
        background-color: #fff;
        padding: 5px 0;

        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        border: 5px solid #23A6EF;
    }

    .logo {
        display: flex;
        align-items: center;
        
        margin-left: 125px;

    }

    .logo img {
        width: 80px;
        height: auto;
        margin-left: -50px;
        
    }

    .headings {
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        text-shadow: 2px 2px black;
        width: 50px;

    }

    .headings h1 {
        font-size: 2rem;
    }

    .m {
        letter-spacing: 1pt;
        color: forestgreen;
        font-weight: 700;
        font-size: 0.8rem;
    }

    .social {
        margin-right: 1.5rem;


    }

    .social svg {
        width: 25px;
        height: auto;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 225px 350px 250px 250px 300px 300px;
        column-gap: 25px;
        row-gap: 50px;
        margin-top: 30px;
        margin-left: 35px;
        margin-right: 35px;

    }


    .event {

        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
        background-color: #eef2f6;
        border: 5px solid #23A6EF;
        text-align: center;
    }

    .weather {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
        background-color: #eef2f6;
        border: 5px solid #23A6EF;
        text-align: center;

    }

    .join {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
        margin-top: 50px;
        background-color: #eef2f6;
        border: 5px solid #23A6EF;
        text-align: center;
    }

    .hero {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: #eef2f6;

    }

    .new-release {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: #eef2f6;
        border: 5px solid #23A6EF;
    }

    .spotlight {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: #eef2f6;
        display: grid;
        grid-template-rows: 1fr 1fr;


    }

    .spotlight1 {
        grid-column-start: 1;
        grid-column-end: 2;
        background-color: #eef2f6;
        border: 5px solid #23A6EF;
        text-align: center;


    }

    .spotlight2 {

        grid-column-start: 2;
        grid-column-end: 3;
        background-color: #eef2f6;
        border: 5px solid #23A6EF;
        text-align: center;



    }

    .spotlight3 {
        display: none;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        height: 150px;
        padding: 5px;
        border: 5px solid #23A6EF;




    }

    footer {
        background-color: #fff;
        padding: 5px 0;
        margin: 0 auto;
        border: 5px solid #23A6EF;
        margin-top: -100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 200px;
        width: 100%;


    }

    footer h2 {
        font-size: 1.2em;
    }

    .row1 {

        display: flex;

    }

    footer p {
        font-size: 1em;
    }

    .logo2 {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        grid-column: 1;
        grid-row: 1/2;
        text-align: center;
        margin-top: 100px;

    }

    .logo2 img {
        width: 75px;
        height: auto;
    }

    .contact {
        grid-column: 2;
        grid-row: 1/2;
        text-align: center;
        margin-top: 60px;






    }

    .contact a {
        text-decoration: none;
    }

    nav a:hover {
        color: #232F3C;
        background-color: #23A6EF;
    }

    .address {
        flex-direction: column;
        margin-left: .5rem;
    }

    .details {
        margin: 0 auto;
        width: 80%;
        margin-top: 100px;
        margin-bottom: 25px;
        border-top: solid black;
        display: flex;
        grid-row: 2/3;
        grid-column: 1/3;
    }

    #lastModified {
        margin-top: 17px;
        margin-left: 5px;
        font-family: 'Lora', serif;
    }



    .date {
        margin: 0.5rem;
        border: 1px solid #bbb;
        padding: 0.75rem;
        background-color: #eee;
        text-align: center;

    }

    nav a {
        text-decoration: none;
        font-size: 1.5em;

    }


    nav {
        margin: 0 auto;
        margin-left: 120px;
        


    }

    .navigation {
        list-style: none;
        margin: 0;
        padding: 0;
      


    }

    .navigation li:first-child {
        display: block;
        width: 10px;

    }

    .navigation li {
        display: none;



    }

    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: #23A6EF;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
        margin-left: -270px;
        background-color: #232F3C;
        width: 375px;








    }

    #menu::before {
        content: "≡";
        font-size: 1rem;
        text-align: left;
        
    }

    .navigation a:hover,
    .navigation a:active {
        color: #232F3C;
        background-color: #23A6EF;
        width: 30px;






    }


    .responsive li {
        display: block;



    }



    .responsive #menu::before {
        content: "X";



    }

    .hero-img {
        width: 100%;
        height: auto;





    }

    .hero h2 {
        text-align: center;
        margin-top: -200px;
        color: #eee;
        font-size: 2em;
        text-shadow: 3px 3px black;




    }

    .red-img {
        height: 100px;
    }

    .xerox-img {
        height: 100px;
    }

    .map {
        width: 10px;
    }


    .join-us {
        background-color: #232F3C;
        color: #23A6EF;
        font-size: 1.5em;
        margin: 0 auto;
        width: 80%;
    }

    .pic-content{
        margin-top: 50px;
        grid-column: 1/4;
        grid-row: 1/7;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 450px 350px 350px 350px 350px ;
    }


    .pic-content picture:hover {box-shadow: 0 0 50px #23A6EF;}

    .pic1{
        grid-column: 1/2;
        grid-row: 1/2;
        width: 100%;
        
    }

    .pic2{
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%;
    }

    .pic3{
        grid-column: 1/2;
        grid-row: 3/4;
        width: 100%;
    }

    .pic4{
        grid-column: 1/2;
        grid-row: 4/5;
        width: 100%;
    }

    .pic5{
        grid-column: 1/2;
        grid-row: 5/6;
        width: 100%;
    }

    .nahoon{
       
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .hall{
        grid-column: 2/3;
        grid-row: 2/3;
      

    }

    .museum{
        grid-column: 2/3;
        grid-row: 3/4;
       
    }

    .harbour{
        grid-column: 2/3;
        grid-row: 4/5;
     

    }

    .mall{
        grid-column: 2/3;
        grid-row: 5/6;
      

    }

    .pic-content p{
        color: #eee;
        font-size: 1em;
        margin-top: -5px;
        
    }

    .pic-content h3{
        font-size: 1.5em;
        text-align: center;
        text-decoration: underline;
        margin-top: -5px;
    }

    .pic-content picture{
        height: 100px;
    }


    #visits {
        color: #23A6EF;
        font-weight: bolder;
        font-size: larger;
        text-decoration: underline;
    }

    .num-visit{
        text-align: center;
        grid-column: 1/4;
        grid-row: 1/2;
        color: #eee;
        font-size: 1em;
        margin: 0 auto;
        margin-top: -15px;
    }

    
    .thanks h1{
        font-size: 3em;
        text-shadow: 2px 2px black;
        text-align: center;
        
    }

    .thanks p{
        font-size: 2em;
        text-align: center;
        
    }

    .thanks{
        background-color: white;
        border: 10px solid black;
        max-width: 400px;
       justify-content: center;
        margin: 0 auto;
        grid-column: 1/4;
        grid-row: 1/4;
    }

    
    form {
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.35rem;
        width: 400px;
        height: 1200px;
        align-items: center;
        margin: 0 auto;
        background-color: #23A6EF;
        border: 5px solid white;
        font-size: 1.2em;
	    
    }

    .message{
        color: #232F3C;
        text-align: center;
        
      
     
    }
    

    label,
    input,
    textarea,
    button {
        padding: 0.35rem;
    }



    input:focus,
    textarea:focus,
    select:focus {
        background-color: #ddd;
    }

    label {
        grid-column: 1/3;
        margin-bottom: 20px;
        margin-left: 10px;


    }

    input {
        padding: 12px 12px 12px 5px;
        font-size: 0.8em;

    }

    #level{
        margin-bottom: 5px;
        text-decoration: underline;
    }

    button{
        width: 100%;
        background-color: #232F3C;
        color: #23A6EF;
        border: 2px solid #ddd;
        font-size: 1.5em;
        padding: 10px;
        margin-top: -200px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .main {
        margin: 0 auto;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0.5rem;
        max-width: 800px;
        background-color: #eee;
        display: flow-root;
        grid-column: 1/4;
        grid-row: 1/4;
        margin-top: 50px;
    }
    
    .menu {
        margin: 1rem auto;
       
        padding: 0.5rem;
       
        text-align: center;
        margin-top: 20px;
       

    }
    
    .menu button {
        padding: 1rem;
        font-weight: 700;
        margin-bottom: 30px;
    }
    
    article,
    section {
        margin: 0.5rem;
    }
    
    .cards section {
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0.5rem;
        background-color: #ccc;
        height: 300px;
        
        
    }

    .cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        align-items: center;
        
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        align-items: center;
    }
    
    .grid section {
        flex-direction: column;
        text-align: center;
    }
    
    .grid section > * {
        margin: 0.1rem;
    }
    
    .grid h3 {
        font-family: "Caveat", cursive;
    }
    
    .list {
        display: flex;
        flex-direction: column;
    }
    
    .list section {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        margin: 0;
        padding: 0.25rem;
        height: 100px;
    }
    
    .list section > * {
        margin: 0 1rem;
    }
    
    .list section img {
        display: none; /* smaller viewports only */
    }
    
    .list section h3 {
        font-size: 1rem;
       
    }
    
    .list section:nth-child(even) {
        background-color: #23A6EF;
    }
    
    section h3 {
        font-size: 1.5rem;
    }
    
    section a {
        font-family: "Roboto", Arial, sans-serif;
        font-size: 0.9rem;
    }
    
    img {
        height: 75px;
        max-width: 100%; /* Images are jerks - Seattle*/
    }








}